* {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  background-color: black;
  background-image: url("~@/assets/background-pattern.svg");
  background-size: 1000px 1000px;
  background-repeat: repeat;
}
