@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: "Nunito", sans-serif;
}

body {
  background-color: black;
  background-image: url("~@/assets/background-pattern.svg");
  background-size: 1000px 1000px;
  background-repeat: repeat;
  overflow: hidden;
}
