$color-turquoise: #78ffff;
$color-pink: #c100ce;
$color-purple: #6a66dd;
$color-dark: #070817;

$padding: 3px;
$margin: 3px;

$content-display-width: 1200px;
$content-small-desktop-width: 1024px;
$content-display-padding: 32px;

// layout

$header-height: 200px;
