.contacts {
  overflow: hidden;
  width: 100%;
  max-height: 700px;
  position: relative;

  &__background {
    z-index: -1;
    width: 100%;
    right: -50vw;
    min-height: 900px;
  }

  &__list {
    position: absolute;
    width: 400px;
    height: 300px;
    left: calc(50% - 100px);
    top: calc(50% - 150px);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: left;

    @media screen and (max-width: #{$content-display-width}) {
      width: 100%;
      top: 50%;
    }

    &-title {
      font-size: 14px;
      font-weight: 800;
      color: $color-dark;
      line-height: 0.8;
      margin-top: $margin * 8;
      margin-left: $margin * 4;
      text-shadow: -4px 4px 8px rgba($color-dark, 0.3);
    }

    &-item {
      font-size: 24px;
      text-transform: uppercase;
      font-weight: 800;
      color: $color-dark;
      text-decoration: none;
      text-shadow: -4px 4px 8px rgba($color-dark, 0.3);
      color: $color-dark;
    }
  }
}
