.skills {
  display: flex;
  align-items: center;
  justify-content: center;

  &__inner {
    width: $content-display-width;
    height: 100%;
    margin: 0 $padding * 80;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    position: relative;
  }

  &__content {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-left: 20%;
  }

  &__item {
    padding: 15vh 0;
    filter: blur(10px);
    transition: 0.9s;
    transform: scale(0.85);
    transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    opacity: 0.8;

    &_active {
      filter: blur(0px);
      transform: scale(1);
      opacity: 0.8;

      .skills__item-subtitle {
        filter: blur(0px);
      }
    }

    &-title {
      font-size: 44px;
      font-weight: bold;
      color: white;
      text-align: center;
      position: relative;
      margin-bottom: $margin * 8;

      &-underline {
        height: 4px;
        position: absolute;
        bottom: 0;
        transition: 1s;
        transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
      }
    }

    &-subtitle {
      font-size: 24px;
      color: white;
      margin: $margin * 4 0;
      text-align: center;
      font-weight: bold;
      transition: 1s;
      filter: blur(5px);
    }
  }

  &__navigation {
    display: flex;
    flex-direction: column;
    border-left: 4px solid $color-purple;
    position: fixed;
    padding-top: calc(76px / 1.2);
    left: calc((100vw - #{$content-display-width}) / 2);
    top: 50%;
    transform-origin: center center;
    height: auto;
    width: 200px;
    visibility: hidden;
    opacity: 0;
    user-select: none;
    transition: 0.3s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 0;

    &_active {
      transition: 0.5s;
      visibility: visible;
      opacity: 1;
      transition-property: opacity, border;
    }

    &-title {
      font-size: 76px;
      font-weight: 700;
      text-shadow: 0 0 16px rgba($color-turquoise, 0.5),
        0 0 36px rgba($color-turquoise, 0.5), 4px 4px 0 $color-purple,
        4px 4px 12px $color-purple;
      color: $color-turquoise;
      margin-bottom: $margin * 10;
      position: absolute;
      top: -76px * 0.9;
      display: block;

      &::before {
        content: "";
        position: absolute;
        bottom: $padding * 8;
        z-index: -1;
        left: 0;
        width: $padding * 10;
        height: 2px;
        background-color: $color-purple;
      }
    }

    &-subtitle {
      font-size: 24px;
      color: rgba($color-purple, 0.5);
      display: inline-block;
      position: relative;
      margin-bottom: $margin * 10;
      margin-left: $margin * 10;
      cursor: pointer;
      transition: 0.5s;

      &_active {
        color: $color-turquoise;
        text-shadow: 3px 3px 0 $color-purple;
        font-size: 32px;
        margin-top: $margin * 10;
        margin-bottom: $margin * 20;
      }

      $point-bias-y: $padding * 6;
      $point-bias-x: $padding * 13.7;

      &-point {
        position: absolute;
        width: $padding * 6;
        height: $padding * 6;
        border-radius: 50%;
        top: $point-bias-y;
        left: -$point-bias-x;
        background-color: $color-purple;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        box-shadow: 0 0 6px black, 0 0 12px black, 0 0 24px black;
        transition: 0.5s;

        &::before {
          content: "";
          position: relative;
          width: 0;
          height: 0;
          border-radius: 50%;
          background-color: black;
          background-image: url("~@/assets/background-pattern.svg");
          background-size: 3000px 3000px;
          background-repeat: repeat;
          background-position: center center;
          transition: 0.7s;
          transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
        }

        &_active {
          width: $padding * 16;
          height: $padding * 16;
          top: $point-bias-y - $padding * 4;
          left: -$point-bias-x - $padding * 5;

          &::before {
            width: 90%;
            height: 90%;
            box-shadow: inset 0 0 8px $color-purple;
            background-size: 1000px 1000px;
          }
        }
      }
    }
  }
}
