.welcome-screen {
  width: 100%;
  height: 720px;
  display: flex;
  justify-content: center;
  padding-top: $padding * 10;
  box-sizing: border-box;

  &__inner {
    width: $content-display-width;
    box-sizing: border-box;
    padding: 0 $content-display-padding;
    height: 100%;
    position: relative;
  }

  &__additional {
    width: 80%;
    height: 100%;
    position: absolute;
    right: 0;

    &-arrows {
      position: absolute;
      right: 0;
      top: -$padding * 40;
      left: $padding * 60;
      right: -$padding * 14 + $content-display-padding;

      @media screen and (max-width: #{$content-display-width}) {
        right: -$padding * 10 + $content-display-padding;
        left: auto;
        width: 70%;
        bottom: $padding * 84;
        top: auto;
      }
    }

    &-title {
      text-align: center;
      font-size: 28px;
      color: white;
      position: absolute;
      font-weight: bold;
      bottom: $padding * 74;
      right: $content-display-padding;
      text-shadow: 0 0 24px black;

      span {
        color: $color-purple;
      }
    }
  }

  &__photo {
    width: 45%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-title {
      text-align: center;
      font-size: 28px;
      color: white;
      position: relative;
      text-shadow: 0 0 24px black;

      &-underline {
        bottom: -$padding * 3;
        left: -5%;
        height: 3px;
        width: 95%;
        background-color: white;
        position: absolute;
        box-shadow: 0 0 24px black;
      }
    }

    &-photo {
      width: 90%;
      margin-top: -20px;

      @media screen and (max-width: #{$content-display-width}) {
        margin-top: 0;
      }
    }
  }
}
