@import "abstracts/variables";

@import "base/reset";

@import "./components/scroll";

@import "./layout/header";
@import "./layout/skills";
@import "./layout/contacts";
@import "./layout/welcome-screen";
